.start-select-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.start-select-buttons {
  display: flex;
  gap: 5px;
}

.start-select-btn {
  background-color: #c1bbc8;
  width: 40px;
  height: 9px;
  border-radius: 35%;
}

.ab-container {
  width: 90px;
  height: 40px;
  background-color: #c7c5ca;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  transform: rotate(-20deg);
}

.ab-btn {
  background-color: #82165e;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  color: white;
  font-weight: bold;
}
.actions-container {
  width: 90px;
  height: 40px;
  display: flex;
  gap: 10px;
  transform: rotate(-20deg);
}

.action-btn {
  background-color: #821660;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  color: white;
  font-weight: bold;
}
.pad-container {
  width: 100px;
  height: 100px;
  display: flex;
  background-color: #c8c6ca;
  position: relative;
  border-radius: 50%;
}

.pad-btn {
  background-color: #21202a;
  color: white;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  position: absolute;
}

.pad-btn.up {
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
}

.pad-btn.down {
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
}

.pad-btn.left {
  top: 50%;
  left: 10%;
  transform: translateY(-50%);
}

.pad-btn.right {
  top: 50%;
  right: 10%;
  transform: translateY(-50%);
}
.screen {
  width: 90%;
  height: 200px;
  background-color: #9ca04c;
  display: flex;
  flex-wrap: wrap;
  overflow-x: hidden;
  overflow-y: scroll;
}

.screen-text {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  flex-direction: column;
}
/* Add styles for StartSelect component */
/* Removed duplicate styles for .start-select-container, .start-select-buttons, and .start-select-btn */
